* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  background-color: var(--main_app_color);
}

:root {
  --main_app_color: #565658;
  --main_app_color_2: #373739;
  --text_color: white;
}
